.container {
  height: 400px;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-color: #43ade1;
}
